In [1]:
import pandas as pd

In [2]:
from sklearn import model_selection

In [3]:
df = pd.read_csv('TRAIN_CLEANED.csv')

In [4]:
df.head()

,age,Private,Self-employed-incorporated,State government,Self-employed-not incorporated,Not in universe,Without pay,Federal government,Never worked,Local government,...,Not in universe.12,Yes.3,No.3,2.3,0.3,1.3,weeks worked in year,94,label,age below fifty
0,33,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,52,0,1,True
1,63,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,52,0,0,False
2,71,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,False
3,43,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,52,0,0,True
4,57,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,52,0,0,False

In [5]:
df['kfold'] = -1

In [6]:
df = df.sample(frac=1).reset_index(drop=True) #we sample the whole thing

In [8]:
kf = model_selection.StratifiedKFold(n_splits=5, shuffle=False, random_state=128)

In [17]:
for fold, (trainindex ,validationindex) in enumerate(kf.split(X=df, y=df.label.values)):
    df.loc[validationindex, 'kfold']=fold

In [ ]:
df.to_csv('TRAIN_CLEANED_FOLDS.csv', index=False)