# <center>Inference and Submission

In [1]:
import os
import pandas as pd
from sklearn import ensemble
from sklearn import preprocessing
from sklearn import metrics
import joblib
import numpy as np

In [4]:
df = pd.read_csv('X_test')
df.head()

,id,age,Private,Self-employed-incorporated,State government,Self-employed-not incorporated,Not in universe,Without pay,Federal government,Never worked,...,1.2,Not in universe.12,Yes.3,No.3,2.3,0.3,1.3,weeks worked in year,94,95
0,0,37,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,52,0,1
1,1,48,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,52,0,1
2,2,68,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,1,0
3,3,74,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,52,0,1
4,4,18,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1

In [7]:
train_df = pd.read_csv('TRAIN_CLEANED.csv')
cols = train_df.columns

In [10]:
testdf = df.loc[:,cols]

/Users/tianxiangzhou/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [12]:
testdf['age below fifty'] = (testdf.age < 50)

In [13]:
testdf.head()

,age,Private,Self-employed-incorporated,State government,Self-employed-not incorporated,Not in universe,Without pay,Federal government,Never worked,Local government,...,Not in universe.12,Yes.3,No.3,2.3,0.3,1.3,weeks worked in year,94,label,age below fifty
0,37,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,52,0,NaN,True
1,48,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,52,0,NaN,True
2,68,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,1,NaN,False
3,74,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,52,0,NaN,False
4,18,0,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,NaN,True

In [71]:
def predict(df): #input your testdf here
    predictions = []
    
    for FOLD in range(5):        
        clf = joblib.load(os.path.join('models/', f"RandomFore_{FOLD}.pkl"))
        cols = joblib.load(os.path.join('models/', f"RandomFore_{FOLD}_columns.pkl"))
        df = df[cols]
        preds = clf.predict(df)
        
        predictions.append(preds)
        
    return predictions

In [72]:
predictions = predict(testdf)

In [77]:
predictions = np.array(predictions)

In [81]:
predictions = pd.DataFrame(predictions.reshape(-1,5))

In [84]:
def vote(row):
    one = 0
    for i in row:
        if i == 1:
            one += 1
    if one <=2:
        return '0'
    else:
        return '1'

In [91]:
pred = []
for i in range(len(predictions)):
    row = predictions.iloc[i]
    pred.append(str(vote(row)))

Now let's submit the file.

In [93]:
submission.label = pred

In [38]:
submission.to_csv('submission_rfc_5fold.csv', index=False)

In [69]:
submission.id = [i for i in np.arange(len(submission))]

In [95]:
submission.to_csv('submission_rfc_5fold.csv', index=False)